root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 4

[*.yml]
indent_size = 2
tab_width = 2

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_function_naming_ignore_when_annotated_with = Composable

# For Migration and AutoMigration classes
[core/src/main/kotlin/xyz/sevive/arcaeaoffline/core/database/migrations/*Migration*.kt]
# The class name were directly copied from Google's documentation
ktlint_standard_class-naming = disabled
# Auto generated SQL lines can be very long
ktlint_standard_max-line-length = disabled
