<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher_unstable"
        android:roundIcon="@mipmap/ic_launcher_unstable_round"
        tools:replace="android:icon,android:roundIcon" />
</manifest>
